/* ========== variables ========== */
:root {
  /* text */
    --text-black-high: rgba(0, 0, 0, 0.87);
    --text-black-med: rgba(0, 0, 0, 0.6);
    --text-black-low: rgba(0, 0, 0, 0.38);
    --text-white-high: rgba(255, 255, 255, 0.87);
    --text-white-med: rgba(255, 255, 255, 0.6);
    --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
    --active: 0.87;
    --inactive: 0.6;
    --disabled: 0.38;
}

:root[theme="dark"] {
  /* brand colors */
  --color-primary: ; /* 200 tonal range */
  --color-primary-var: ; /* 500 tonal range */
  --color-secondary: ; /* 50-200 tonal range */
  --color-secondary-var: ; /* 50-200 tonal range */
  /* backgrounds */
  --background-base: rgb(18, 18, 18);
  --header-bg: rgb(39, 39, 39);
  --nav-hover-bg: rgb(222, 141, 137);
  --sub-nav-hover-bg: rgb(246, 197, 199);
  --dropdown-bg: rgb(46, 46, 46);
  --sub-dropdown-bg: rgb(56, 56, 56);
  --slider-bg: rgb(44, 44, 44);
  --slider-dots: rgb(54, 54, 54);
  --active-dot: rgb(222, 141, 137);
  /* elevation refs */
  --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
  --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
  --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
  --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
  --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
  --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
  --elevation-08dp: rgb(46, 46, 46); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
  --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
  --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
  --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* text */
  --text-primary: rgb(255, 255, 255, 0.87);
  --nav-hover-text: rgba(0, 0, 0, 0.87);
  --link-text: rgb(217, 217, 217);
  /* borders */
  --border-primary: rgb(255, 255, 255, 0.87);
  --focus: 2px solid rgb(224, 224, 224);
  /* images */
  --theme-toggle-icon: url(assets/images/icons/wb_sunny-white-24dp.svg);
  /* misc */
  --error: rgb(207, 102, 121);
  --warning: rgb(255, 245, 157);
  --success: rgb(165, 214, 167);
  --info: rgb(144, 202, 249);
}

:root[theme="light"] {
  /* brand colors */
  --color-primary: ; /* 500 tonal range */
  --color-primary-var: ; /* +/- 200 of primary */
  --color-secondary: ; /* 500 tonal range */
  --color-secondary-var: ; /* +/- 200 of primary */
  /* backgrounds */
  --background-base: rgb(240, 240, 240);
  --header-bg: rgb(255, 255, 255);
  --nav-hover-bg: rgb(165, 16, 13);
  --sub-nav-hover-bg: rgb(172, 32, 22);
  --dropdown-bg: rgb(220, 220, 220);
  --sub-dropdown-bg: rgb(200, 200, 200);
  --slider-bg: rgb(220, 220, 220);
  --slider-dots: rgb(170, 170, 170);
  --active-dot: rgb(165, 16, 13);
  /* text */
  --text-primary: rgba(0, 0, 0, 0.87);
  --nav-hover-text: rgba(255, 255, 255, 0.87);
  --link-text: rgb(0, 20, 240);
  /* borders */
  --border-primary: rgba(0, 0, 0, 0.87);
  --focus: 2px solid rgb(30, 30, 30);
  /* images */
  --theme-toggle-icon: url(assets/images/icons/wb_sunny-black-24dp.svg);
  /* misc */
  --error: rgb(176, 0, 32);
  --warning: rgb(255, 235, 59);
  --success: rgb(76, 175, 80);
  --info: rgb(33, 150, 243);
}


/* ========== global styles ========== */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: red;
}

a {
  text-decoration: none;
}


/* ========== header/main nav ========== */
header {
  position: relative;
}

#upper-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  width: 100%;
  background-color: var(--header-bg);
}

#upper-nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  overflow: hidden;
}

.upper-links .link,
.upper-links .dropdown-button {
  padding: 10px 1rem;
  font-size: 1.25rem;
  color: var(--text-primary);
}

.upper-links .dropdown-button:hover {
  cursor: pointer;
}

.upper-links > li {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  display: inline-block;
}

.upper-links .active-link,
.upper-links .link:hover,
.upper-links .link:focus,
.upper-links .dropdown-button:hover,
.upper-links .dropdown-button:focus,
#secondary-links .more-links-button:hover,
#secondary-links .more-links-button:focus {
  background-color: var(--nav-hover-bg);
  color: var(--nav-hover-text);
  outline: none;
}

.dropdown-button .material-icons {
  vertical-align: middle;
}

.dropdown-links {
  z-index: 1;
  display: none;
  position: absolute;
  padding: 0;
  background-color: var(--dropdown-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.upper-links .dropdown-links {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.dropdown-links > li {
  display: block;
  margin: 0;
}

.dropdown-links .link,
.dropdown-links .dropdown-button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 1rem;
  text-align: left;
}

.dropdown-links .link:hover,
.dropdown-links .link:focus,
.dropdown-links .dropdown-button:hover,
.dropdown-links .dropdown-button:focus {
  background-color: var(--sub-nav-hover-bg);
}

.more-links {
  right: 0;
  width: 100%;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.more-links .dropdown-links {
  position: static;
  padding-left: 10px;
  background-color: var(--sub-dropdown-bg);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.visible {
  display: block;
}

.theme-toggle {
  position: absolute;
  bottom: 10px;
  right: 25px;
  width: 24px;
  height: 24px;
  background-image: var(--theme-toggle-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.theme-toggle:hover {
  cursor: pointer;
}

.theme-toggle:focus {
  opacity: 1;
  border-radius: 50%;
  outline: var(--focus);
  outline-offset: 3px;
}

/* ========== main content ========== */
#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 20px;
  background-color: var(--background-base);
  color: white;
}

.image-slider-container {
  position: relative;
  width: 90vw;
  max-width: 900px;
  height: 60vw;
  max-height: 600px;
  margin-bottom: 10px;
  background-color: var(--slider-bg);
  color: var(--text-primary);
  box-shadow: 0 0 10px black;
  overflow: hidden;
}

.image-slider-container img {
  width: 100%;
  height: 100%;
}

.slider-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slider-arrow:hover,
.slider-arrow:focus {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slider-arrow:focus {
  outline: none;
}

.slider-arrow .material-icons {
  color: white;
  font-size: 4rem;
  text-shadow: 
  1px 1px 2px rgb(0, 0, 0),
  1px -1px 2px rgb(0, 0, 0),
  -1px -1px 2px rgb(0, 0, 0),
  -1px 1px 2px rgb(0, 0, 0);
}

.previous-arrow {
  left: 0;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.next-arrow {
  right: 0;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.slider-dots .dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 10px;
  background-color: var(--slider-dots);
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.slider-dots .dot:hover {
  cursor: pointer;
}

.slider-dots .dot:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  outline: none;
}

.slider-dots .active-dot {
  background-color: var(--active-dot);
}

/* ========== footer/secondary nav ========== */
#lower-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  height: 100px;
  padding: 25px 10px;
  background-color: var(--header-bg);
}

#lower-nav a {
  color: var(--link-text);
  font-size: 0.9rem;
}

.github-logo {
  display: block;
  width: 48px;
  height: auto;
  margin: 0 auto 5px;
}

#lower-nav a:hover {
  text-decoration: underline;
}

#lower-nav a:focus {
  outline: var(--focus);
  outline-offset: 4px;
}

/* ========== media queries ========== */
/* @media only screen and (min-width: 430px) {

} */

/* @media only screen and (min-width: 768px) {

} */

/* @media only screen and (min-width: 992px) {

} */

/* @media only screen and (min-width: 1200px) {

} */

/* @media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto !important;
  }

  .animated {
    transition: none !important;
  }
} */
